@model SoftwareHouse.Web.ViewModels.Search.SearchViewModel
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/dist/styles/home.css" rel="stylesheet" />
}

<div class="row">
    <div id="grad1" class="col-md-12">
        <div class="row banner">
            <div class="col-md-12 grand-2-smaller">
                <h1 class="no-stupid-margin text-left banner-text title-text">Wicky</h1>
                <h4 class="no-stupid-margin text-left title-text">Surask žmones, kurie tau galės atlikti reikiamus darbus,</h4> 
                <h4 class="no-stupid-margin text-left title-text">arba priešingai - tapk vienu iš jų, ir pasinerk į darbų pasaulį</h4>
                <div class=" buttons-home">
                    <button type="button" class="btn btn-lg btn-primary">Išsiūsti darbo pageidavimą</button>
                    <button type="button" class="btn btn-lg btn-secondary">Ieškoti iš darbuotojų sąrašo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 category">
        <h3 class="category-header">Kas tai?</h3>
        <p class="category-content">
            Wicky - bendravimo su laisvai samdomais darbuotojais svetainė, leidžia atsirinkti tinkamiausius darbutojus tavo reikiamai užduočiai atlikti.
            Tačiau jei manai, kad gali savo laisvalaikį paversti pinigais - tuoj jaus pat užsiregistruok į Wicky ir būk nepriklausomas darbuotojas
        </p>
        <div class="col-md-12">
            <img class="tools-img img-responsive  center-block " src="~/images/icon-repair.png" />
        </div>
    </div>
    <div class="col-md-4">
        <h3 class="category-header">Registracija</h3>
        <p class="category-content">
            Svetainė, palyginus su kitomis nėra apmokama, todėl visa tai tau kainuos nemokamai
            - nebereikės kurti  brangių svetainių, svetainę gausi tu iš karto,
            užsiregistruok čia
        </p>
        <div class="col-md-12">
            <img class="img-responsive center-block task-img" src="~/images/Icon-Register.png" />
        </div>
    </div>
    <div class="col-md-4">
        <h3 class="category-header">Kontaktai</h3>
        <p class="category-content">
            Jei kilo problemų kreipkis pas mus, greitai atsakysime ir paaiškinsime kaip tas veikia ir kaip greičiausia bus surasti naujų klientų ar laikinų darbuotojų
        </p>
        <div class="col-md-12">
            <img class="img-responsive center-block  mail-img" src="~/images/images.png" />
        </div>
    </div>  
</div>

